BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> ad51c367ef8a

CREATE TABLE auth.users (
    user_id SERIAL NOT NULL, 
    username VARCHAR(100) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    role VARCHAR(50), 
    is_active BOOLEAN, 
    PRIMARY KEY (user_id), 
    UNIQUE (username)
);

CREATE TABLE inventory.locations (
    location_id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    parent_location_id INTEGER, 
    type VARCHAR(50), 
    is_active BOOLEAN, 
    PRIMARY KEY (location_id), 
    FOREIGN KEY(parent_location_id) REFERENCES inventory.locations (location_id)
);

CREATE TABLE inventory.product_categories (
    category_id SERIAL NOT NULL, 
    category_name VARCHAR(255) NOT NULL, 
    parent_category_id INTEGER, 
    is_deleted BOOLEAN, 
    PRIMARY KEY (category_id), 
    FOREIGN KEY(parent_category_id) REFERENCES inventory.product_categories (category_id), 
    UNIQUE (category_name)
);

CREATE TABLE inventory.suppliers (
    supplier_id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    contact_person VARCHAR(255), 
    contact_notes TEXT, 
    phone VARCHAR(50), 
    email VARCHAR(255), 
    address TEXT, 
    payment_terms VARCHAR(100), 
    banking_details TEXT, 
    registered_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    is_active BOOLEAN, 
    PRIMARY KEY (supplier_id)
);

CREATE TABLE inventory.uoms (
    uom_id SERIAL NOT NULL, 
    uom_code VARCHAR(50) NOT NULL, 
    uom_name VARCHAR(255), 
    is_deleted BOOLEAN, 
    PRIMARY KEY (uom_id), 
    UNIQUE (uom_code)
);

CREATE TABLE sales.customers (
    customer_id SERIAL NOT NULL, 
    company_name VARCHAR(255), 
    contact_person VARCHAR(255), 
    max_payment_term INTEGER, 
    is_deleted BOOLEAN, 
    PRIMARY KEY (customer_id)
);

CREATE TABLE sales.pos_settings (
    setting_id SERIAL NOT NULL, 
    is_vat_enabled BOOLEAN, 
    vat_rate NUMERIC(5, 4), 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (setting_id)
);

CREATE TABLE inventory.products (
    product_id SERIAL NOT NULL, 
    pid VARCHAR(50), 
    sku VARCHAR(50), 
    name VARCHAR(100) NOT NULL, 
    brand VARCHAR(50), 
    description TEXT, 
    variant VARCHAR(100), 
    is_bundle BOOLEAN, 
    units_per_bundle INTEGER, 
    tag_price NUMERIC(12, 2), 
    price_discount NUMERIC(5, 4), 
    net_price NUMERIC(12, 2), 
    gross_cost NUMERIC(12, 2), 
    cost_discount NUMERIC(5, 4), 
    net_cost NUMERIC(12, 2), 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), 
    base_uom_id INTEGER, 
    PRIMARY KEY (product_id), 
    FOREIGN KEY(base_uom_id) REFERENCES inventory.uoms (uom_id), 
    UNIQUE (pid), 
    UNIQUE (sku)
);

CREATE TABLE inventory.stock_transfers (
    transfer_id SERIAL NOT NULL, 
    document_id VARCHAR(100), 
    transfer_date TIMESTAMP WITH TIME ZONE DEFAULT NOW(), 
    from_location_id INTEGER, 
    to_location_id INTEGER, 
    released_by_id INTEGER, 
    received_by_id INTEGER, 
    bundle_count INTEGER, 
    status VARCHAR(50), 
    has_discrepancy BOOLEAN, 
    PRIMARY KEY (transfer_id), 
    FOREIGN KEY(from_location_id) REFERENCES inventory.locations (location_id), 
    FOREIGN KEY(received_by_id) REFERENCES auth.users (user_id), 
    FOREIGN KEY(released_by_id) REFERENCES auth.users (user_id), 
    FOREIGN KEY(to_location_id) REFERENCES inventory.locations (location_id)
);

CREATE TABLE sales.sales_headers (
    sales_id SERIAL NOT NULL, 
    document_id VARCHAR NOT NULL, 
    date DATE NOT NULL, 
    shift VARCHAR NOT NULL, 
    sales_invoice_id VARCHAR, 
    delivery_receipt_id VARCHAR, 
    register_id VARCHAR NOT NULL, 
    subtotal_amount NUMERIC(12, 2), 
    discount_amount NUMERIC(12, 2), 
    tax_amount NUMERIC(12, 2), 
    total_amount NUMERIC(12, 2) NOT NULL, 
    customer_name VARCHAR, 
    customer_id INTEGER, 
    status VARCHAR(20), 
    idempotency_key VARCHAR(100), 
    location_id INTEGER NOT NULL, 
    cashier_id INTEGER NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (sales_id), 
    FOREIGN KEY(cashier_id) REFERENCES auth.users (user_id), 
    FOREIGN KEY(customer_id) REFERENCES sales.customers (customer_id), 
    FOREIGN KEY(location_id) REFERENCES inventory.locations (location_id), 
    UNIQUE (idempotency_key)
);

CREATE UNIQUE INDEX ix_sales_sales_headers_document_id ON sales.sales_headers (document_id);

CREATE INDEX ix_sales_sales_headers_sales_id ON sales.sales_headers (sales_id);

CREATE TABLE inventory.cost_layers (
    layer_id BIGSERIAL NOT NULL, 
    product_id INTEGER NOT NULL, 
    unit_cost NUMERIC(12, 2) NOT NULL, 
    original_qty NUMERIC(12, 2) NOT NULL, 
    remaining_qty NUMERIC(12, 2) NOT NULL, 
    received_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), 
    ref_table VARCHAR(100), 
    ref_pk VARCHAR(100), 
    PRIMARY KEY (layer_id), 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id)
);

CREATE TABLE inventory.current_stocks (
    stock_id BIGSERIAL NOT NULL, 
    product_id INTEGER NOT NULL, 
    location_id INTEGER NOT NULL, 
    quantity NUMERIC(12, 2), 
    PRIMARY KEY (stock_id), 
    FOREIGN KEY(location_id) REFERENCES inventory.locations (location_id), 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id)
);

CREATE TYPE inventory.ledger_reason AS ENUM ('RECEIVE', 'SALE', 'TRANSFER_IN', 'TRANSFER_OUT', 'ADJUST');

CREATE TABLE inventory.inventory_ledger (
    ledger_id BIGSERIAL NOT NULL, 
    product_id INTEGER NOT NULL, 
    location_id INTEGER NOT NULL, 
    qty_change NUMERIC(12, 2) NOT NULL, 
    reason inventory.ledger_reason NOT NULL, 
    ref_table VARCHAR(100), 
    ref_pk VARCHAR(100), 
    occurred_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (ledger_id), 
    FOREIGN KEY(location_id) REFERENCES inventory.locations (location_id), 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id)
);

CREATE TABLE inventory.price_history (
    history_id BIGSERIAL NOT NULL, 
    product_id INTEGER, 
    old_tag_price NUMERIC(12, 2), 
    new_tag_price NUMERIC(12, 2), 
    old_net_price NUMERIC(12, 2), 
    new_net_price NUMERIC(12, 2), 
    old_gross_cost NUMERIC(12, 2), 
    new_gross_cost NUMERIC(12, 2), 
    old_net_cost NUMERIC(12, 2), 
    new_net_cost NUMERIC(12, 2), 
    changed_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), 
    PRIMARY KEY (history_id), 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id) ON DELETE CASCADE
);

CREATE TABLE inventory.product_category_link (
    product_id INTEGER NOT NULL, 
    category_id INTEGER NOT NULL, 
    PRIMARY KEY (product_id, category_id), 
    FOREIGN KEY(category_id) REFERENCES inventory.product_categories (category_id) ON DELETE CASCADE, 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id) ON DELETE CASCADE
);

CREATE TABLE inventory.product_suppliers (
    sourcing_id SERIAL NOT NULL, 
    product_id INTEGER, 
    supplier_id INTEGER, 
    vendor_sku VARCHAR(100), 
    vendor_cost NUMERIC(12, 2), 
    lead_time_days INTEGER, 
    is_primary BOOLEAN, 
    PRIMARY KEY (sourcing_id), 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id) ON DELETE CASCADE, 
    FOREIGN KEY(supplier_id) REFERENCES inventory.suppliers (supplier_id) ON DELETE CASCADE
);

CREATE TABLE inventory.stock_transfer_items (
    item_id SERIAL NOT NULL, 
    transfer_id INTEGER, 
    product_id INTEGER, 
    bundling VARCHAR(100), 
    requested_qty NUMERIC(12, 2) NOT NULL, 
    released_qty NUMERIC(12, 2), 
    received_qty NUMERIC(12, 2), 
    PRIMARY KEY (item_id), 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id), 
    FOREIGN KEY(transfer_id) REFERENCES inventory.stock_transfers (transfer_id) ON DELETE CASCADE
);

CREATE TABLE sales.sales_items (
    item_id SERIAL NOT NULL, 
    sales_id INTEGER NOT NULL, 
    product_id INTEGER NOT NULL, 
    qty INTEGER NOT NULL, 
    price NUMERIC(10, 2) NOT NULL, 
    discount_pct NUMERIC(5, 2), 
    discount_flat NUMERIC(10, 2), 
    net_cost NUMERIC(10, 2) NOT NULL, 
    PRIMARY KEY (item_id), 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id), 
    FOREIGN KEY(sales_id) REFERENCES sales.sales_headers (sales_id)
);

CREATE INDEX ix_sales_sales_items_item_id ON sales.sales_items (item_id);

CREATE TABLE sales.sales_payments (
    payment_id SERIAL NOT NULL, 
    sales_id INTEGER NOT NULL, 
    method VARCHAR NOT NULL, 
    amount NUMERIC(12, 2) NOT NULL, 
    PRIMARY KEY (payment_id), 
    FOREIGN KEY(sales_id) REFERENCES sales.sales_headers (sales_id)
);

CREATE INDEX ix_sales_sales_payments_payment_id ON sales.sales_payments (payment_id);

CREATE TABLE sales.sales_returns (
    return_id SERIAL NOT NULL, 
    sale_id INTEGER, 
    return_date TIMESTAMP WITHOUT TIME ZONE, 
    reason VARCHAR(255), 
    grand_total NUMERIC(12, 2), 
    PRIMARY KEY (return_id), 
    FOREIGN KEY(sale_id) REFERENCES sales.sales_headers (sales_id)
);

CREATE TABLE sales.sales_return_items (
    return_item_id SERIAL NOT NULL, 
    return_id INTEGER, 
    product_id INTEGER, 
    quantity INTEGER NOT NULL, 
    line_total NUMERIC(12, 2) NOT NULL, 
    PRIMARY KEY (return_item_id), 
    FOREIGN KEY(product_id) REFERENCES inventory.products (product_id), 
    FOREIGN KEY(return_id) REFERENCES sales.sales_returns (return_id)
);

INSERT INTO alembic_version (version_num) VALUES ('ad51c367ef8a') RETURNING alembic_version.version_num;

COMMIT;

